*{padding:0;
  margin: 0;
box-sizing: border-box;
} 

.container{
    width: 100%;
    border: 2px solid green;
    padding: 50px;
    color: white;
    background-image: url('../images/mj.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;

  

}