*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.container{
    height: 450px;
    width: 650px;
    position: relative;
    
    top:50px;
    left: 400px;
    
    border: 5px solid black;
   

   
}
 .circle1{
    height: 40px;
    width: 40px;
    position:absolute;
    background-color: rgb(28, 8, 245);
   

    border-radius: 50%;
    animation-name: manoj;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate-reverse;  
 }

    
   
   


.circle2{
    height: 40px;
    width: 40px;
    position: absolute;
    background-color: rgb(210, 242, 5);
    margin-left: 600px;
   
   

    border-radius: 50%;
    animation-name:jeeva;
    animation-duration: 8s;
    animation-iteration-count:infinite; 
    animation-timing-function: linear;
    animation-direction:alternate-reverse;
   
    
}

   @keyframes manoj{
    10%{
        width: 40px;
        height: 40px;
        
        
        top: 0px;
        left: 0px;

    }
    15%{
        
      
      
        top: 400px;
        left:100px;
       


     
    }
    20%{
       
        
        
      
        
       top: 0px;
        left:200px;
       
        

    }

    25%{
        
        top:400px;
        left:300 px;

    }
     30%{
       
       
        
        
        top: 0px;
        left: 400px;
        

    }
     35%{
        
        top:400px;
        left: 500px;
        
        

    }
     40%{
        
       
        top:0px;
        left: 600px;
        
        

    }
}






@keyframes jeeva{
    10%{     
        width: 40px;
        height: 40px;
        top: 0px;
        left:0px;  


     
    }
     15%{
       
        
        top:400px;
        left:-100px;


     
    }

     20%{
       
       
        top: 0px;
        
        left: -200px;

    }
    25%{
        
        
        top: 400px;
        left: -300px;

    }

     30%{
       
        
        top:0px;
        left: -400px;


     
    }

     35%{
       
       
        top: 400px;
      
        left:-500px;

    }
    40%{
       
        
        top: 0px;
        left: -600px;

    }








} 
