
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    h1{
        text-align: center;
        margin-top: 20px;
    }

    .box{
        border-radius: 10px;
        margin: 150px;
        width: 450px;
        height: 550px;
    border:2px solid red;
    }

     .box2{
        border-radius: 10px;
      margin: 12px;
      margin-top: 50px;
        width: 420px;
        height: 200px;
    border:2px solid blue;

    }

    .box3{
        border-radius: 10px;
      margin: 10px;
      margin-top: 60px;
        width: 400px;
        height: 50px;
    border:2px solid blue;

    }


    .box4{
        border-radius: 10px;
     
      margin-top: 50px;
        width: 400px;
        height: 50px;
    border:2px solid blue;
