*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body{

    background-color: black;
    color: white;
}
nav{
    text-align: center;
}

nav h1 span{
    color: rgb(254, 56, 211);
    
}


.container{


    width: 100%;

    height: 100vh;

    
   


     /* display: grid;

    grid-template-columns: repeat(3,1fr) */

  


    

}



 .firstbox{ 


    display: flex; 
}

.secondbox{


    display: flex;
}

.box{   
    
    width:550px;

    height:320px;

     /* border:0.5px solid grey; */
}

.box1{
margin-top: 20px;
    margin-left: 20px;
}

.nav{

    margin-top: 40px;

    background-color: white;
    width:90% ;

    height: 50px;

    color: black;

    border-radius: 5px;


}

.nav ul{


    

    justify-content: center;
    display: flex;
    gap:10px
}

.nav ul li{
    list-style: none;
    margin-top: 20px;
  
    
}

.pool{

    font-weight: bold;
}


.box1 ol li{
    color: rgb(241, 16, 211);
    font-size: 19px;
}

.nav ul li:hover {
    text-decoration: underline;
    text-decoration-color: pink;
    text-decoration-thickness: 3px;
    text-underline-offset: 10px;
    cursor: pointer;
}

.grid{

    display: grid;
    grid-template-columns: repeat(3,1fr);
  row-gap: 7px;
  
}

.grid img{

    border: 3px solid white;

}

.grid img:hover{

    
    transform: scale(1.1);
}


.white{
    background-color: white;
    color: black;

    width: 90%;

    height: 200px;

    margin-left: 20px;

    display: flex;

    justify-content: space-around;
    align-items: center;


}


.color{

    position: relative;
    width: 100px;

    height:170px;

    background-color: grey;
    border-radius: 5px;


}
 
.position{

    position: absolute;

    top:20px;

    left:10px;


}


.buy{

    border-radius: 5px;

    padding: 2px;
    background-color: green;
}

.natural{
    margin-left: 10px;

    color: white;
    height: 170px;
    width: 480px;

background-image: url("https://wallpaperaccess.com/full/394383.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.natural h2,p,button{

    margin-left:20px;
} 


.natural button{

    padding: 10px;
    background-color: rgb(241, 16, 211);

    border-radius: 5px;
    color: white;
}

.sales{
    position: absolute;

    top:-20px;

    left:30px;

    background-color: red;

    border-radius: 4px;
    padding: 2px;
    
    
}

.sales1{
    background-color: red;
    border-radius: 4px;

    padding: 2px;


}

.white1{
    background-color: white;
  color: black;

    width:90% ;
    height: 200px;

    margin-left: 15px;

    position: relative;
}

.image img{

    border-radius: 50%;

    position: absolute;

    top:40px;

    left:3px;
}

.violet{

    height: 50px;
    width: 50px;
    border-radius: 50%;
    
    background-color: blueviolet;
    position: absolute;


    left:200px;
    top:-15px;
    

    
}

.image{

    position: absolute;
}

.ex{

    margin-top: 10px;
}

.image p,h2,h3{

    display: inline-block;

    margin-top: 40px;

    margin-left: 100px;
}


.black{

    background-color: black;
}


.color1{
    background-color: white;
}






