*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
.container{
    width: 100%;
    display:flex;

}
.content{
    padding: 20px;
    max-height: 0;
}
.container:hover .content{
    max-height: 400px;
    
}
.first{
    background-color: orange;

    order: 2;
    flex: 1;
    


}
.second{
    background-color: white;
    order: 3;
    flex: 1;}
    .third{
        background-color:green;
    order: 3;
    flex: 1;

    }