*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;

}
.container{
    border: 2px solid green;
    width: 100%;
    height: auto;

   

    
    
}
.box{
   display: flex;
   gap: 20PX;
   width: 100%;
   flex-wrap: wrap;
   
}


